<main class="main-image">
  <div class="content-main">
    <h1 class="head-store">level up you style with our summer collections</h1>
    <button class="btn-more" routerLink="/products">Showe More</button>
  </div>
  <!-- <img src="./../../../assets/home2.jpg" alt=""/> -->
</main>
<section class="servics">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <span class="icon-serve"><i class="fa-solid fa-x"></i></span>
        <h6 class="title-serve">Original Products</h6>
        <p class="info-serve">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
          culpa in sit odit dignissimos.
        </p>
      </div>
      <div class="col-md-3">
        <span class="icon-serve"
          ><i class="fa-solid fa-masks-theater"></i
        ></span>
        <h6 class="title-serve">satisfaction Guarantee</h6>
        <p class="info-serve">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
          culpa in sit odit dignissimos.
        </p>
      </div>
      <div class="col-md-3">
        <span class="icon-serve"><i class="fa-solid fa-location-dot"></i></span>
        <h6 class="title-serve">new arrival everday</h6>
        <p class="info-serve">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
          culpa in sit odit dignissimos.
        </p>
      </div>
      <div class="col-md-3">
        <span class="icon-serve"><i class="fa-solid fa-truck-fast"></i></span>
        <h6 class="title-serve">fast & free shipping</h6>
        <p class="info-serve">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
          culpa in sit odit dignissimos.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="brands">
  <div class="container">
    <div class="grid-brands">
      <div class="img-box-brand">
        <img src="./../../../assets/brand-01.jpg" alt="brand-one" />
      </div>

      <div class="img-box-brand">
        <img src="./../../../assets/brand-02.jpg" alt="brand-one" />
      </div>

      <div class="img-box-brand">
        <img src="./../../../assets/brand-03.jpg" alt="brand-one" />
      </div>
      <div class="img-box-brand one">
        <img src="./../../../assets/brand-04.jpg" alt="brand-one" />
      </div>

      <div class="img-box-brand two">
        <img src="./../../../assets/brand-02.jpg" alt="brand-one" />
      </div>

      <div class="img-box-brand three">
        <img src="./../../../assets/brand-05.jpg" alt="brand-one" />
      </div>

      <div class="img-box-brand six">
        <img src="./../../../assets/brand-04.jpg" alt="brand-one" />
      </div>
      <div class="img-box-brand">
        <img src="./../../../assets/brand-01.jpg" alt="brand-one" />
      </div>

      <div class="img-box-brand">
        <img src="./../../../assets/brand-1.jpg" alt="brand-one" />
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row d-flex">
    <div class="my-5">
      <app-categories></app-categories>
    </div>
    <div class="w-80">
      <input
        [(ngModel)]="searchLetters"
        type="text"
        placeholder="search by letter"
      />
    </div>

    <div
      class="card-product col-lg-3 py-2"
      *ngFor="let product of products | search : searchLetters"
    >
      <a
        [routerLink]="['/productdetails', product.id]"
        class="text-decoration-none"
      >
        <div class="card-content">
          <img
            [src]="product.images[0]"
            alt="{{ product.title }}"
            class="w-100 h-100 product-image"
            (mouseover)="changeImage(product.images, productImageRef)"
            #productImageRef
          />
          <span
            [ngClass]="product.priceAfterDiscount ? 'sale text-sm' : 'no-sale'"
            >Sale</span
          >
          <div class="card-body-parent">
            <div class="card-body d-flex justify-content-between flex-row">
              <h5 class="card-title font-sm">
                {{ product.title | summarize : 20 }}
              </h5>
              <p
                *ngIf="product.priceAfterDiscount"
                class="color-discount card-text text-muted fw-bold font-sm"
              >
                {{ product.priceAfterDiscount }} EGP
              </p>
            </div>
            <div class="card-body d-flex justify-content-between flex-row">
              <h5 class="card-title font-sm">
                <i
                  class="fa-solid fa-star"
                  [ngClass]="product.ratingsQuantity ? 'yellow' : ''"
                ></i>
                {{ product.ratingsAverage }} (<span
                  *ngIf="product.ratingsQuantity"
                  >{{ product.ratingsQuantity }}</span
                >)
              </h5>
              <p
                [ngClass]="product.priceAfterDiscount ? 'discount' : ''"
                class="card-text text-muted fw-bold font-sm"
              >
                {{ product.price }} EGP
              </p>
            </div>
          </div>
          <div>
            <button
              (click)="addToWish(product.id)"
              class="add-to-wishlist icons-card"
            >
              <i class="fa-solid fa-heart"></i>
            </button>
            <button
              (click)="addToCart(product.id)"
              class="btn-add-to-cart icons-card"
            >
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="my-4 mt-10" *ngIf="totalPages > 1">
    <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <button
      *ngFor="let page of generatePages(totalPages)"
      (click)="changePage(page)"
      [ngClass]="{ active: currentPage === page }"
    >
      {{ page }}
    </button>
    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>
  </div>
</div>
