<div class="vhight vh-100">

    <div class="container">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-md-6 text-center align-self-center">
                <h1 class="display-4 text-muted">Page Not Found</h1>
                <p class="lead text-muted">We seem to have lost our way. The page you requested is nowhere to be found.</p>
                <a href="/" routerLink="/" class="btn btn-primary">Return Home</a>
            </div>
        </div>
    </div>
    
</div>